/* Navbar styles */
.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
  }
  .nav-link {
    font-weight: bold;
  }
  .nav-link:hover {
    color: #fff;
  }
  
  /* Search box styles */
  .form-control:focus {
    box-shadow: none;
  }
  #searchBox {
    border: none;
  }
  
  /* Sign Up Modal styles */
  .modal-title {
    font-weight: bold;
  }
  .modal-body {
    padding: 2rem;
  }
  .modal-dialog {
    max-width: 500px;
  }
  